<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="myConnString" />
  <connectionStrings>
    <add name="myConnString" connectionString="Data Source=IE11Win7;Initial Catalog=729;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>